@model web_app1.Models.Users
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<form method="post">

    <div asp-validation-summary="All"></div>
    <span asp-validation-for="name"></span>
    Name:<input asp-for="name" type="text" />
    <span asp-validation-for="Role"></span>
    Role:<input asp-for="Role" type="text" />
    <input type="submit" value="submit" />

</form>
